/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap");

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("/fonts/source-sans-pro.regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro SemiBold";
  src: url("/fonts/source-sans-pro.semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("/fonts/source-sans-pro.light.ttf") format("truetype");
}

/* MENU */
header {
  background-color: #a9bfe4;
  padding: 8px 84px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.logo img {
  width: 270px;
  height: 110px;
}

ul li {
  display: flex;
  justify-content: space-between;
}

.menu-links,
.menu-icons {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.menu-links li a {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
}

.search-icon img,
.cart-icon img {
  max-height: 40px;
}

/* SECTION 1 */
.bouquet-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-left: 84px;
}

.content h1 {
  font-size: 56px;
  font-family: "Lora", serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: #351f21;
  line-height: 64px;
}

.content p {
  font-size: 34px;
  font-family: "Source Sans Pro Regular";
  width: 664px;
  color: #351f21;
  margin-bottom: 36px;
  line-height: 54px;
}

.buttons-container {
  display: flex;
  gap: 64px;
}

button {
  padding: 10px 80px;
  border-radius: 50px;
  font-size: 36px;
  font-family: "Source Sans Pro Regular";
  cursor: pointer;
}

.cart-btn {
  background-color: #ffc2c7;
  color: white;
  border: none;
}

.catalog-btn {
  background-color: transparent;
  color: #989ec3;
  border: 2px solid #ffc2c7;
}

.flower-image {
  margin: 25px 0;
  height: 754px;
}

/* SECTION 2 */

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.category-item {
  position: relative;
  text-align: center;
}

.category-item img {
  width: 460px;
  height: 345px;
  object-fit: cover;
}

.category-title {
  position: absolute;
  bottom: 30px;
  left: 47%;
  transform: translateX(-40%);
  background-color: #a9bfe4;
  padding: 16px 40px;
  font-size: 28px;
  font-family: "Lora", serif;
  color: #ffffff;
}

/* SECTION 3 */
.section-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  margin-top: 100px;
}

.text-block {
  max-width: 40%;
  position: relative;
  margin-left: 64px;
}

.text-block h2 {
  font-size: 44px;
  color: #351f21;
  margin-bottom: 18px;
  font-family: "Lora", serif;
}

.text-block p {
  font-size: 28px;
  color: #351f21;
  line-height: 1.6;
  font-family: "Source Sans Pro Regular", sans-serif;
  margin-bottom: 20px;
  padding-left: 25px; /* Відступ для вертикальної лінії */
  position: relative;
}

/* Вертикальна лінія поруч з першим абзацом */
.section-about p:first-of-type::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 40px;
  background-color: #ffc2c7;
}

.abstract-background {
  position: absolute;
  right: 0;
  bottom: -50%;
  overflow: hidden;
  z-index: -1;
  width: 744px;
  top: 8%;
}

.women {
  position: absolute;
  right: 6%;
  bottom: 0%;
  z-index: 2;
  width: 740px;
}

/* Соціальні іконки */
.social-icons {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  padding: 0;
  position: relative;
  z-index: 3;
  right: 4%;
}

.social-icons li img {
  width: 40px;
  height: 42px;
  transition: transform 0.3s ease;
}

.social-icons li img:hover {
  transform: scale(1.1);
}

/*  */
.section-services-bg {
  padding: 16px 0 16px 64px;
  background-color: #a9bfe44d;
}

.section-services-bg h2 {
  margin-left: 64px;
  font-size: 32px;
  font-family: "Lora", serif;
  color: #989ec3;
}

.section-services {
  display: flex;
  justify-content: space-around;
  margin: 36px 0;
}

.section-services article {
  text-align: center;
  width: 16%;
}

.section-services img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  margin-bottom: 20px;
}

.section-services p {
  font-size: 22px;
  color: #351f21;
  font-family: "Source Sans Pro Regular", sans-serif;
}

/* SECTION 4 */

.products h2 {
  margin: 46px 0 28px 64px;
  font-size: 44px;
  color: #351f21;
}

.products {
  margin: auto;
}

.productsCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
}

.product-card {
  width: 20%;
  height: 640px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(255, 194, 199);
  border-radius: 10px;
  padding-bottom: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.product-name {
  font-size: 28px;
  color: #333;
  margin-bottom: 8px;
}

.product-name span {
  display: block;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.buy-button {
  border-radius: 50px;
  border: 4px solid #ffc2c7;
  background-color: transparent;
  color: #989ec3;
  cursor: pointer;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

/* SECTION 5 */

/* Styling for the images of the flowers */
img[src*="flowers 1.png"] {
  position: absolute;
  top: 0;
  right: 0;
}

img[src*="flowers 2.png"] {
  position: absolute;
  top: 180px; /* Adjust as necessary */
  left: 0;
}

/* Reviews section styling */
.reviews-section {
  position: relative;
  padding: 64px 64px;
  background-color: rgba(169, 191, 228, 0.2);
}

/* Reviews title */
.reviews-section h2 {
  font-size: 44px;
  color: #351f21;
  margin-bottom: 44px;
}

.review {
  display: flex;
  margin-bottom: 45px;
  position: relative;
}

.review2 {
  margin-left: 244px;
}

.flower1 {
  margin-top: -6%;
  width: 20%;
}

.flower2 {
  margin-top: 150px;
  width: 16%;
}

.column {
  display: flex;
  flex-direction: column;
}

.review img {
  width: 200px;
  height: 200px;
  margin-right: 48px;
}

.review blockquote {
  font-size: 28px;
  width: 656px;
  margin: 0;
  padding: 0;
}

.review p {
  margin-top: 8px;
  font-size: 24px;
  color: #989ec3;
  font-weight: bold;
}

.line {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #ffc2c7;
  margin: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrow {
  font-size: 44px;
  color: #d9d9d9;
  cursor: pointer;
}

.circlePag {
  width: 15px;
  height: 15px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.circlePag.active {
  background-color: #ffc2c7;
}

.arrow.next {
  color: #ffc2c7;
}

/* Додати відгук */
.add-review {
  margin-top: 40px;
}

.add-review h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.add-review input {
  display: block;
  /* margin-bottom: 12px; */
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 20px;
}

.feedback-user-name {
  height: 29px;
}

.feedback {
  height: 94px;
  display: block;
  width: 70%;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 12px;
  font-size: 20px;
}

.add-review button {
  background-color: #ffc2c7;
  color: #ffffff;
  /* width: 130px; */
  /* height: 30px; */
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  padding: 10px 50px;
}

/* Доставка і оплата */
.circles-container h2 {
  font-size: 44px;
  margin-bottom: 20px;
}

.circles-container {
  padding: 24px 64px;
  margin-bottom: 120px;
}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  row-gap: 40px;
  margin-top: 28px;
}

.circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}

.circle-item:last-child {
  margin-right: 0;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(255, 194, 199, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #a9bfe4;
}

.text {
  width: 400px;
  font-size: 24px;
  line-height: 1.4;
}

/* FOOTER */

.footer {
  background-color: #a9bfe4;
  position: relative;
  /* overflow: hidden; */
}

.flower-photo {
  position: absolute; /* Робить картинку абсолютно позиціонованою */
  top: 0; /* Розміщує картинку зверху */
  right: 0; /* Розміщує картинку з правого боку */
  transform: translate(200%, -80%) rotate(-59.59deg); /* Об'єднує переміщення та поворот */
  transform-origin: bottom right; /* Центр повороту у нижньому правому кутку */
  width: 264px; /* Задає ширину картинки */
  height: auto; /* Зберігає пропорції картинки */
}

.logoFooter {
  display: block;
  margin: 36px auto;
  width: 272px;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
}

.footer-column li,
.footer-column a {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 8px;
}

.subscribe input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.subscribe button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
}

.flex {
  display: flex;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 36px;
}

.footer-social-icons img {
  width: 40px;
  height: auto;
}

.footer-social-icons .iconViber {
  width: 48px;
}

.footer-copyright {
  margin: 80px 0 30px 0;
  font-size: 26px;
  color: #fff;
}

.email-subscription {
  display: flex;
  align-items: center;
  border-radius: 50px; /* Загальні округлі краї */
  overflow: hidden;
  background-color: #ffffff; /* Білий фон для контейнера */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
  height: 56px;
  width: 464px;
}

.email-subscription input {
  border: none;
  flex: 1;
  padding: 28px 0 18px 30px;
  font-size: 20px;
  outline: none;
  border-radius: 30px 0 0 30px; /* Округлі краї ліворуч */
  line-height: normal; /* Вирівнювання тексту всередині поля */
  height: 50px; /* Встановлення висоти поля */
  box-sizing: border-box; /* Забезпечує правильний розрахунок padding */
}

.email-subscription button {
  background-color: #ffc2c7; /* Колір кнопки */
  border: none;
  padding: 6px 32px;
  color: white;
  font-size: 20px;
  height: 56px;
  cursor: pointer;
  border-radius: 50px; /* Округлі краї праворуч */
  outline: none;
}
